on:
  workflow_dispatch

jobs:
  test:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        node-version: [16, 18, 20]
        os: [ubuntu-latest,windows-latest-macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}